.designBox {
    border: solid 2px black;
    width: 90%;
    max-width: fit-content;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#button {
    background-color: midnightblue;
    color: white;
    border-radius: 10%;
    margin-left: 5px;

}

.lightMode {
    background-color: white;
    color: black;
    border: solid 2px black;
    width: 90%;
    max-width: fit-content;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.darkMode {
    background-color: black;
    color: white;
    border: solid 2px black;
    width: 90%;
    max-width: fit-content;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}